---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


/* 标签样式 */
.abbr .badge {
  background-color: #af00af; /* 默认紫色 */
  min-width: 65px;
  text-transform: lowercase;
  padding: 5px 8px;
  font-weight: 500;
  border-radius: 4px;
}

/* 调整行间距，避免论文太挤 */
.bibliography li {
  margin-bottom: 30px !important;
}

/* 确保移动端也能对齐 */
@media (max-width: 576px) {
  .abbr {
    margin-bottom: 10px;
  }
}
